@layer base {
  *::selection {
    /* @apply bg-neutral; */
  }

  body {
    font-size: clamp(0.875rem, 1.25vw, 1rem);
  }

  h1 {
    font-size: clamp(1.5rem, var(--font-size-break), 2.25rem);
  }

  h2 {
    font-size: clamp(1.375rem, var(--font-size-break), 1.875rem);
  }

  h3 {
    font-size: clamp(1.25rem, var(--font-size-break), 1.5rem);
  }

  h4 {
    font-size: clamp(1.125rem, var(--font-size-break), 1.25rem);
  }

  h5 {
    font-size: clamp(1rem, var(--font-size-break), 1.125rem);
  }

  h6 {
  }

  a {
    /* @apply text-primary; */

    &:hover {
      /* @apply text-neutral; */
    }

    &:active {
      /* @apply text-primary; */
    }

    &:visited {
      /* @apply text-muted; */
    }
  }

  section {
    @apply bg-white shadow;
    @apply py-4 px-3;
    @apply border-t-2;
  }

  /**
  * TABLE
  **/

  table {
    @apply w-full table-fixed;
    @apply border-separate;
    border-spacing: 0;

    /* button,
    .button {
      @apply py-1 px-2;
    } */
  }

  thead {
    @apply shadow;
    @apply sticky top-0;
    @apply bg-white;
  }

  th {
    text-align: left;
    @apply px-4 py-2;
    @apply border-t-2 border-gray-200;

    &.sortable {
      @apply relative;
      --sort-button-width: 6px;
      --sort-button-height: 5px;

      @apply pr-3;

      a {
        /* @apply text-foreground; */
      }

      /* Triangle Icons */
      &:before,
      &:after {
        @apply absolute;
        @apply block;
        right: 0;
        width: 0;
        height: 0;
        content: "";
        @apply border-gray-300;
        border-style: solid;
        border-left: var(--sort-button-height) solid transparent !important;
        border-right: var(--sort-button-height) solid transparent !important;
      }

      &:before {
        top: calc(50% - (var(--sort-button-height) + 2px));
        border-bottom-width: var(--sort-button-width);
      }

      &:after {
        bottom: calc(50% - (var(--sort-button-height) + 2px));
        border-top-width: var(--sort-button-width);
      }

      &.asc:before,
      &.desc:after {
        @apply border-gray-700;
      }
    }
  }

  tr {
    &:nth-child(even) {
      /* @apply bg-coolGray-100 dark:bg-gray-700; */
    }
  }

  td {
    @apply px-4 py-2;

    a {
      /* @apply text-yellow-800; */
    }
  }

  th,
  td {
    &.table-column-fit {
      width: 1px;
      white-space: nowrap;
    }
  }

  tbody {
    &.inverted {
      tr:nth-child(even) {
        @apply bg-unset dark:bg-unset;
      }

      tr:nth-child(odd) {
        @apply bg-coolGray-100 dark:bg-gray-700;
      }
    }

    tr {
      &.checked {
        @apply bg-warmGray-100;

        &:nth-child(even) {
          @apply bg-warmGray-200;
        }
      }
    }

    td {
      @apply border-b;
    }
  }

  nav.pagination {
    @apply flex justify-end;

    div {
      @apply font-bold cursor-pointer;
      @apply border border-r-0;
      @apply w-8 h-8;

      & > a,
      & > span {
        @apply flex justify-center items-center;
        @apply w-full h-full;
      }

      &:hover {
        /* @apply bg-brand-light; */
      }

      &:first-of-type {
        @apply rounded-l;
      }

      &:last-of-type {
        @apply rounded-r border-r;
      }
    }
  }
}
