class <%= modelast_name.pluralize.camelize %>::ShowSerializer < <%= modelast_name.camelize %>Serializer
  attributes(<% if model_attributes.include?("slug") %>
    :slug,<% end %>
    :id,
    :updated_at,
    :created_at,
  )
end
